<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnDeprecation="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="conformance">
            <directory>tests/Conformance</directory>
        </testsuite>
        <testsuite name="oracle">
            <directory>tests/Oracle</directory>
        </testsuite>
        <testsuite name="doctrine">
            <directory>tests/Doctrine</directory>
        </testsuite>
        <testsuite name="eloquent">
            <directory>tests/Eloquent</directory>
        </testsuite>
        <testsuite name="vdbe">
            <directory>tests/Vdbe</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
